<style>
  table, td, th {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
    width: 90%;
  }
  th {
    height: 50px;
  }
  </style>
  <h2> Get Request (http://starlord.hackerearth.com/insta)</h2>
  <table>
    <tr>
      <th>Image</th>
      <th>Likes</th>
      <th>Stamps</th>
    </tr>
    <tr *ngFor="let com of images">
      <!--<td>{{com.Image}}</td>-->
      <td><img [src]="com.Image" alt="image"></td>
      <td>{{com.likes}}</td>
      <td>{{com.timestamp}}</td>
  </table>